{% extends "layout.html" %}


    {% block title %}
        UnderRock
    {% endblock %}

{% block main %}

    <h4>ABOUT</h4>
    <p>
        The UnderRock Strikers club came into existance when the community started to expand pass the highway road. The club started 
        relatively small compared to the way most of the other clubs have started in the community.
    </p>
    <p>
        Over the years the club has become quite competitive in the local competitions and that has lead to better recruitment methods 
        and players.
    </p>
{% endblock %}