{% extends "layout.html" %}


    {% block title %}
        Hilltop Ballers
    {% endblock %}

{% block main %}

    <h4>ABOUT</h4>
    <p>
        The name of the club Hilltop Ballers come from the fact that the players used a very small space to play the sport of football, 
        which is located at the top of the hill in the area called Hilltop in Dennery.
        The players found it quite convinient to have their own training ground rather than heading to the main field that all the 
        other teams had to use.
    </p>
    <p>
        To this date, this club is the only club to which a player has gone on to play in any league in Europe on a premier basis.
        The player Zaine Pierre playes for the Italian Club of Genoa.
        This is the Clubs crowning achievement and also the crowning achievement of the island of St lucia so far.
    </p>
{% endblock %}