{% extends "layout.html" %}


    {% block title %}
        Whitehouse
    {% endblock %}

{% block main %}

    <h4>ABOUT</h4>
    <p>
        The Whitehouse club is one of the longest existing clubs in the village of Dennery. They are known to have the most talented 
        midfielders and strikers in the community. The club has put forth quite a few players when it comes to representing the community in 
        the district competitions and have also put forth a few to represent the island of Saint Lucia.
        Some players have even gone to the point of receiving contracts from foriegn teams.
    </p>
    <p>
        Historically the club is not known to be high of discipline when it comes to attitude or even training regiment, yet still they have 
        been quite successful dute to the enormous talent they tend bear.
    </p>
{% endblock %}