{% extends "layout.html" %}


    {% block title %}
        About 18+
    {% endblock %}

{% block main %}

    <h4>ABOUT</h4>
    <p>
        The 18+ football club was one of the first teams to be established in the sporting world of Dennery Football. They have been 
        very active is producing talented players to represent both the community and the island in the sport of football. 
    </p>
    <p>
        Historically the players who are usually part of this team reside in the village of Dennery south, but as of recently the member 
        reside from many different areas in dennery as far as the Micoud district. 18+ holds a few of the trophies won in the past and were 
        known to have very entertaining football matches against the Whitehouse club and DCYO club.
    </p>
{% endblock %}