{% extends "layout.html" %}

    {% block title %}
        Contact
    {% endblock %}

{% block main %}
    <div class="table-responsive-md">
        <table class="table">
            <tr>
                <th>Position</th>
                <th>Team</th>
                <th>Phone Number</th>
                <th>Email</th>
            </tr>
            <tr>
                <td>President</td>
                <td></td>
                <td>758-717-xxxx</td>
                <td>peterhunt**********</td>
            </tr>
        </table>
    </div>
{% endblock %}
