{% extends "layout.html" %}


{% block title %}
    Tournament
{% endblock %}

{% block main %}
    <div class="table-responsive-md">
        <table class="table">
            <tr>
                <th>Name</th>
                <th>Month</th>
                <th>Duration</th>
                <th>Days</th>
                <th>Time</th>
                <th>Type</th>
            </tr>
            <tr>
                <td>Dennery Mini-bus Drivers Tournament</td>
                <td>February - March</td>
                <td>5 Weeks</td>
                <td>Sunday, Wednesday, Saturday</td>
                <td>2 games(16:00-20:00),
                    1 game(18:00),
                    2 games(16:00-20:00)
                </td>
                <td>5 games per team, most points win. If tied most goals win</td>
            </tr>
            <tr>
                <td>Dennery Co-operative Credit Union Competition</td>
                <td>March- April</td>
                <td>7 Weeks</td>
                <td>Sunday, Wednesday, Saturday</td>
                <td>2 games(16:00-20:00),
                    1 game(18:00),
                    2 games(16:00-20:00)
                </td>
                <td>5 games per team. Top four Semi-Finals.</td>
            </tr>
            <tr>
                <td>District Representative Tournament</td>
                <td>June - July</td>
                <td>6 Weeks</td>
                <td>Sunday, Wednesday, Saturday</td>
                <td>2 games(16:00-20:00),
                    1 game(18:00),
                    2 games(16:00-20:00)
                </td>
                <td>5 games per team. Top two go to Finals</td>
            </tr>
            <tr>
                <td>SLBF Promotional League Tournament</td>
                <td>August - September</td>
                <td>7 Weeks</td>
                <td>Sunday, Wednesday, Saturday</td>
                <td>2 games(16:00-20:00),
                    1 game(18:00),
                    2 games(16:00-20:00)
                </td>
                <td>5 games per team. Top four teams go to semi-finals.</td>
            </tr>

        </table>
    </div>
{% endblock %}