{% extends "layout.html" %}


    {% block title %}
        Calor
    {% endblock %}

{% block main %}

    <h4>ABOUT</h4>
    <p>
        The Calor football team is one of the most recent developed teams in the community of Dennery. This team was first designed to help with 
        the upbringing of primarily the teens of this village. It has been quite succesful at having many teenagers register to the club due 
        the fact that they are alot more laid back compared to other clubs.   
    </p>
    <p>
        In recent years, the club has been changed to the point where both teens and none teens are part of the club. With this,
        the club has become quite competitive in the local competitions and even the inter-dictrict competitions.
    </p>
{% endblock %}