{% extends "layout.html" %}


    {% block title %}
        DCYO
    {% endblock %}

{% block main %}

    <h4>ABOUT</h4>
    <p>
        DCYO is one of the first football clubs in the village of Dennery. The club carries the reputation of being very strick with 
        discipline. This factor is due to the high number of players and other member that part of the police and fireservice 
        departments in Saint Lucia.
    </p>
    <p>
        With the reputation that preceeds the club, is also the smooth and careful nature of playing. They are known to execute 
        strategies fluently against their rivals and are quite accomplished in the championship category.
    </p>
{% endblock %}